<div class="login" fxLayoutAlign="center center" fxFlexFill>
<mat-card fxFlex="25" class="login-bg">
    <form fxLayoutAlign="stretch" fxLayout="column" class="login-form">
        <mat-toolbar class="login-headding" fxLayoutAlign="center center">
          <p>Login to Cyientify</p>
        </mat-toolbar>
        <mat-form-field appearance="outline">
          <input type="email" matInput placeholder="Enter your Email ID">
          <mat-icon matSuffix>alternate_email</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <input type="password" matInput placeholder="Enter your Password">
            <mat-icon matSuffix>vpn_key</mat-icon>
        </mat-form-field>
        <mat-toolbar class="asdf">
            <a routerLink="forgot-password" class="forgot-password">Forgot Password?</a>
            <span class="example-spacer"></span>
            <button mat-raised-button class="login-btn"><a routerLink="login">Login</a></button>
        </mat-toolbar>
      </form>    
</mat-card>
</div>