.login{
    background-image: url("src\assets\Images\Cientify-bgs.png");
    width: 100%;
    height: 100%;
}
.login .login-bg{
    background-color: #FFFFFF;
    border: 1px solid #E0DCE3;
    border-radius: 15px;
    opacity: 1;
    }
.login .login-bg .login-headding{
    background-color: transparent;
    color: #009CA6;
    opacity: 1;
}
.login-btn{
    background: transparent linear-gradient(109deg, #009CA6 0%, #401B59 100%) 0% 0% no-repeat padding-box;
    border-radius: 21px;
    opacity: 1;
    color: #E0DCE3;  
}
.login-btn a{
    color: #E0DCE3;  
    text-decoration: none;
}
.example-spacer {
    flex: 1 1 auto;
  }
  .asdf{
    background-color: transparent;
  }
.forgot-password{
color: #4C206B;
opacity: 1;
font-size:15px;
text-decoration: none;
}