<app-home-header></app-home-header>
<div class="check-your-email" fxLayoutAlign="center center" fxFlexFill>
    <mat-card fxFlex="25" class="check-your-email-bg">
        <form fxLayoutAlign="stretch" fxLayout="column" class="check-your-email-form">
            <mat-toolbar class="check-your-email-headding" fxLayoutAlign="center center">
              <p>Check your Email</p>
            </mat-toolbar>
            <img src=".\assets\Images\pngwing.com@2x.png" width="50%" height="50%" style="padding-left: 90px;">
            <h1 class="asdf">You are almost there</h1>
            <p class="asdf">An activation link sent to your email.</p>
            <p class="asdf">Have not yet received the link? <span><a href="" class="send-again" >Send again!</a></span> </p>
          </form>    
    </mat-card>
    </div>