<div class="reset-psd" fxLayoutAlign="center center" fxFlexFill>
    <mat-card fxFlex="25" class="reset-psd-bg">
        <form fxLayoutAlign="stretch" fxLayout="column" class="check-your-email-form">
            <mat-toolbar class="reset-psd-headding" fxLayoutAlign="center center">
              <p>Reset Password</p>
            </mat-toolbar>
            <mat-form-field appearance="outline">
                <input type="password" matInput placeholder="Enter new Password">
                <mat-icon matSuffix>vpn_key</mat-icon>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <input type="password" matInput placeholder="Conform new Password">
                <mat-icon matSuffix>vpn_key</mat-icon>
            </mat-form-field>
            <button mat-raised-button class="login-btn">Reset Password</button>
          </form>    
    </mat-card>
    </div>