.headder{
  background: transparent linear-gradient(109deg, #009CA6 0%, #401B59 100%) 0% 0% no-repeat padding-box;
}
.example-spacer {
    flex: 1 1 auto;
  }
  .headder .logo{
    color: #FFFFFF;
    text-decoration: none;
  }