<mat-toolbar class="login-hedder">
    <div class="headder-logo">CyientiflQ</div>
      <span class="example-spacer" ></span>
      <div fxLayout="row" fxLayoutGap="10px" class="headder-butns">
          <button mat-raised-button class="register-btn" >
            <a [routerLink]="'login'"class="register">Login</a>
          </button>      
        <button mat-raised-button class="register-btn">
          <a [routerLink]="'/register'"class="register">Register</a>
        </button>  
      </div>
  </mat-toolbar>