.login-hedder{
    background-color: #FFFFFF;
  }
  .headder-logo{
    color: #009CA6;
  }
  .example-spacer {
    flex: 1 1 auto;
  }
  .register-btn{
  background: transparent linear-gradient(109deg, #009CA6 0%, #401B59 100%) 0% 0% no-repeat padding-box;
  border-radius: 21px;
  }
  .register-btn .register{
  text-decoration: none;
  color:#FFFFFF ;
  }