<app-home-header></app-home-header>
<div class="forgot-passwordp" fxLayoutAlign="center center" fxFlexFill>
<mat-card fxFlex="25" class="forgot-password-bg">
    <form fxLayoutAlign="stretch" fxLayout="column" class="forgot-password-form">
        <mat-toolbar class="forgot-password-headding" fxLayoutAlign="center center">
          <p>Login to Cyientify</p>
        </mat-toolbar>
        <mat-form-field appearance="outline">
          <input type="email" matInput placeholder="Enter your Email ID">
          <mat-icon matSuffix>alternate_email</mat-icon>
        </mat-form-field>
        <mat-toolbar class="asdf">
            <button mat-raised-button class="login-btn">Login</button>
            <span class="example-spacer"></span>
            <button mat-raised-button class="Reset-Password-btn"><a [routerLink]="'/Reset Password'">Reset Password</a></button>
        </mat-toolbar>
      </form>    
</mat-card>
</div>